body {
    background: white;
    font-family: 'Hind', sans-serif;
}
.bg-blue {
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    background-color: #0c79b8;
}

.right_bottom_icon {
    position: fixed;
=======
=======
>>>>>>> parent of a5bd551... del
=======
>>>>>>> parent of a5bd551... del
    background-color: #0875bb;
}
.right_bottom_icon {
    position: absolute;
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> parent of a5bd551... del
=======
>>>>>>> parent of a5bd551... del
=======
>>>>>>> parent of a5bd551... del
    right: 20px;
    bottom: 20px;
    height: 50px;
    width: 50px;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    border-radius: 50%;
    
}

=======
   
}
>>>>>>> parent of a5bd551... del
=======
   
}
>>>>>>> parent of a5bd551... del
=======
   
}
>>>>>>> parent of a5bd551... del
#RB_img {
    height: inherit;
    width: inherit;
    border-radius: 50%;
}

a:active {
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    width: 0;
    height: 0;
    transition: 1s;
    
}
=======
=======
>>>>>>> parent of a5bd551... del
=======
>>>>>>> parent of a5bd551... del
   width:0;
   height:0;
   transition:1s;
    <div class="right_bottom_icon" style="border-radius: 50%; background-image:url(./src/pic/Pen.jpg)">
        <a href="#"><img id="RB_img" src="./src/pic/HuaJi.jpg" /></a>
    </div>
}
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> parent of a5bd551... del
=======
>>>>>>> parent of a5bd551... del
=======
>>>>>>> parent of a5bd551... del
