.nav_left {
    position: fixed;
    right: 2%;
    bottom: 15%;
    font-size: medium;
    border: solid;
    border-width: 2px;
    border-color: aqua;
}

.nav_item {
    border: solid;
    border-width: 1px;
    border-color: aqua;
}
.leftTopImg{
    position: absolute;
    
    height: 9%;
    width: 9%;
}