.nav-style{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-appearance{
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    border-width:0 0 4px 0;
    border-style: solid;
    border-color: #0c68b8;
}
.nav-icon{
    display: block;
    color: white;
    padding: 1rem 1rem 1rem 1rem;
}
a.nav-icon:hover {
    text-decoration: none;
    color: white;
}

.nav-logo{
    display: inline-block;
    height:10%;
}
.nav-logo > img{
    width:100px;
    height:30px;
}

.nav>ul{
    margin: 0 0 0 -1rem;
    font-size: 25%;
}
.nav>ul>li{
    display: inline-block;
    margin: 0rem -.2rem 0rem -.2rem;
    padding: 0;
}
.nav>ul>li>a{
    color: white;
    background-color: #0b6da5;
    padding: 2rem 1rem;
}
.nav>ul> li > a:hover{
    text-decoration: none;
    color: white;
    background-color: #0b6da5;
}
#drop-part{
    background-color: gray;
    color: white;
}
.leftlist{
    padding: 15px 0 30px 18px;
    margin: 0 -15px;
}
.rightlist{
    padding: 15px 0 30px 5px;
    margin: 0 -15px;
}
.listheader{
    padding: 0 0 0 40px;
}
#drop-part li{
    list-style-type:none;
}
#drop-part li a{
    color: white;
}
#drop-part li a:hover{
    text-decoration: none;
}