.sectionone{
    display: flex;
    flex-direction:column;
    align-items: center;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    background-color: white;
=======
>>>>>>> parent of a5bd551... del
=======
>>>>>>> parent of a5bd551... del
=======
>>>>>>> parent of a5bd551... del
=======
>>>>>>> parent of a5bd551... del
=======
>>>>>>> parent of a5bd551... del
}
.sectionone h1{
    padding: 100px 0 0 0;
}
.sectionone h4{
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    padding: 30px 0 0 0;
}
.form-style{
    padding: 40px 0 40px 0;
    width: 100%;
    display: flex;
    justify-content:center;
}
.smselectbox{
    display:inline-block;
    padding: 15px 20px;
    margin: 0 3px;
    width: 8%;
}
.lgselectbox{    
    display:inline-block;
    padding: 15px 20px;
    margin: 0 3px;
    width: 15%;
}
.sectionone button{
    display: block;
    margin: 0 0 40px 0;
}
.display-none{
    display: none;
=======
=======
>>>>>>> parent of a5bd551... del
=======
>>>>>>> parent of a5bd551... del
=======
>>>>>>> parent of a5bd551... del
=======
>>>>>>> parent of a5bd551... del
    padding: 20px 0 0 0;
}
.sectionone {
    
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> parent of a5bd551... del
=======
>>>>>>> parent of a5bd551... del
=======
>>>>>>> parent of a5bd551... del
=======
>>>>>>> parent of a5bd551... del
=======
>>>>>>> parent of a5bd551... del
}